kombu==4.1.0
amqp==2.3.2
billiard==3.5.0.4
celery==4.1.0
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pytz==2018.7
redis==2.10.6
vine==1.1.4
Werkzeug==0.15.3
